---
dependency:
  name: galaxy
  enabled: false
driver:
  name: podman
platforms:
  - name: centos
    image: quay.io/centos/centos:stream8
    pre_build_image: true
    volumes:
      - /tmp:/tmp
provisioner:
  name: ansible
  env:
    idrac_powercycle_wait_seconds: 180
    idrac_certificate_delegate_to: localhost
    redfish_firmware_image_url_need_reboot: "https://dl.dell.com/FOLDER07217671M/1/SAS-RAID_Firmware_700GG_WN64_25.5.9.0001_A17.EXE"
    redfish_firmware_image_url_without_reboot: "https://dl.dell.com/FOLDER10335817M/1/Diagnostics_Application_31T12_WN64_4303A02_4303.2.EXE"
    redfish_firmware_image_local_path: "/tmp/redfish_firmware"
verifier:
  name: ansible
scenario:
  test_sequence:
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - check
    - converge
    - idempotence
    - side_effect
    - verify
    - cleanup
    - destroy
