/*
 * ------------------------------------------------------------------
 *
 * admonitions.
 *
*/

div.note_note,
div.note_fastpath,
div.note_remember,
div.note_restriction,
div.note_other{
    margin-bottom: 20px;
    margin-top: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 100%;
    border-bottom: 1px solid rgb(186, 188, 190);
    border-top: 1px solid rgb(186, 188, 190);
}

div.note>span.note__title{
    background-image: none !important;
    padding: 0;
}

div.note_other>span.note__title{
    color: blue;
}

div.note_danger,
div.note_warning,
div.note_caution,
div.note_notice{
    margin-bottom: 0.5em;
    margin-top: 1em;
    border-bottom: 1px solid rgb(186, 188, 190);
    padding: 5px 0px 20px;
}

div.note_danger,
div.note_warning,
div.note_caution{
    font-weight: bold;
}

div.note_note::before,
div.note_danger::before,
div.note_warning::before,
div.note_caution::before{
    display: block;
    margin-bottom: 1em;
}

div.note_notice::before{
    display: block;
}

.admonition td:first-of-type{
    padding-left: 0;
    padding-right: 5px;
    border-right: 3px solid rgb(0,118,206);
    width: 31px;
}

.admonition.danger td:first-of-type{
    border-right: 3px solid rgb(0,118,206);
}

.admonition.warning td:first-of-type{
    border-right: 3px solid rgb(206,17,38);
}

.admonition.caution td:first-of-type{
    border-right: 3px solid rgb(242,175,0);
}

.admonition-body p{
    margin-top: 8px;
    margin-bottom: 8px;
}

.admonition-body .bold {
    font-weight: bold;
}

.admonition-label {
    font-weight: bold;
    color: rgb(0,118,206);
}

.admonition-label.danger {
    color: rgb(0,118,206);
}

.admonition-label.caution {
    color: rgb(242,175,0);
}

.admonition-label.warning {
    color: rgb(206,17,38);
}

.admonition-image-container {
}

.admonition-image {
    width: 24px;
    max-width: inherit;
}

.admonition.note {
}