---
- hosts: ome
  connection: local
  name: "OME - Update Firmware"
  gather_facts: False

  collections:
    - dellemc.openmanage

  tasks:
  - name: Update firmware from a DUP file using a device ids
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      device_id:
        - 11111
        - 22222
      dup_file: "/path/Chassis-System-Management_Firmware_6N9WN_WN64_1.00.01_A00.EXE"

  - name: Update firmware from a DUP file using a device service tags
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      device_service_tag:
        - KLBR111
        - KLBR222
      dup_file: "/path/Network_Firmware_NTRW0_WN64_14.07.07_A00-00_01.EXE"

  - name: Update firmware from a DUP file using a device group names
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      device_group_names:
        - servers
      dup_file: "/path/BIOS_87V69_WN64_2.4.7.EXE"

  - name: Update firmware using baseline name
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices

  - name: Stage firmware for the next reboot using baseline name
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      schedule: StageForNextReboot

  - name: Update firmware using baseline name and components
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      components:
        - BIOS

  - name: Update firmware of device components from a DUP file using a device ids in a baseline
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      device_id:
        - 11111
        - 22222
      components:
        - iDRAC with Lifecycle Controller

  - name: Update firmware of device components from a baseline using a device service tags under a baseline
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      device_service_tag:
        - KLBR111
        - KLBR222
      components:
        - IOM-SAS

  - name: Update firmware using baseline name with a device id and required components
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      devices:
        - id: 12345
          components:
           - Lifecycle Controller
        - id: 12346
          components:
            - Enterprise UEFI Diagnostics
            - BIOS

  - name: Update firmware using baseline name with a device service tag and required components
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      devices:
        - service_tag: ABCDE12
          components:
            - PERC H740P Adapter
            - BIOS
        - service_tag: GHIJK34
          components:
            - OS Drivers Pack

  - name: Update firmware using baseline name with a device service tag or device id and required components
    ome_firmware:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      baseline_name: baseline_devices
      devices:
        - service_tag: ABCDE12
          components:
            - BOSS-S1 Adapter
            - PowerEdge Server BIOS
        - id: 12345
          components:
            - iDRAC with Lifecycle Controller
