/* Changes and comments, as side-notes. */
@import "side-notes/p-side-notes.css?buildId=2020072412";

/* Topic content styles. */
@import "topic/topic.css?buildId=2020072412";

/* Default styles. */
@import "core/webhelp.css?buildId=2020072412";

/* Top Menu and Publication(Side) TOC components styles. */
@import "nav-links/nav-links.css?buildId=2020072412";