/* Topic content styles. */
@import "topic/topic.css?buildId=2020072412";

/* Default styles. */
@import "core/webhelp.css?buildId=2020072412";

/* Top Menu and Side TOC components styles. */
@import "nav-links/nav-links.css?buildId=2020072412";

/*
 * Search results styles 
 */
 @import "search/search.css?buildId=2020072412";