---
- hosts: redfish_hosts
  connection: local
  gather_facts: false
  name: "Redfish Storage Volume - Ansible Module"
  vars:
    retries_count: 15
    polling_interval: 5

  collections:
    - dellemc.openmanage

  tasks:

    - name: Create a volume with supported options.
      redfish_storage_volume:
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        state: "present"
        volume_type: "Mirrored"
        name: "VD0"
        controller_id: "RAID.Slot.1-1"
        drives:
          - Disk.Bay.5:Enclosure.Internal.0-1:RAID.Slot.1-1
          - Disk.Bay.6:Enclosure.Internal.0-1:RAID.Slot.1-1
        block_size_bytes: 512
        capacity_bytes: 299439751168
        optimum_io_size_bytes: 65536
        encryption_types: NativeDriveEncryption
        encrypted: true
      register: result
      tags:
        - create_volume1
        
    - name: Create a volume with minimum options.
      redfish_storage_volume:
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        state: "present"
        controller_id: "RAID.Slot.1-1"
        volume_type: "NonRedundant"
        drives:
           - Disk.Bay.1:Enclosure.Internal.0-1:RAID.Slot.1-1
        tags:
          - create_volume2

    - name: Modify a volume's encryption type settings.
      redfish_storage_volume:
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        state: "present"
        volume_id: "Disk.Virtual.5:RAID.Slot.1-1"
        encryption_types: "ControllerAssisted"
        encrypted: true
      tags:
        - modify_volume
        
    - name: Initialize an existing volume.
      redfish_storage_volume:
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        command: "initialize"
        volume_id: "Disk.Virtual.5:RAID.Slot.1-1"
        initialize_type: "Slow"
      tags:
        - initialize_volume
        
    - name: Delete an existing volume.
      redfish_storage_volume:
        baseuri: "{{ baseuri }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        state: "absent"
        volume_id: "Disk.Virtual.5:RAID.Slot.1-1"
      tags:
        - delete_volume
