---
- hosts: myhosts
  connection: local
  name: Server Configuration Profile
  gather_facts: False

  tasks:
  - name: Export Server Configuration Profile
    dellemc_idrac_server_config_profile:
      idrac_ip:        "{{ idracip }}"
      idrac_user:      "{{ username }}"
      idrac_pwd:       "{{ password }}"
      share_name:      "/tmp/"
      job_wait:        "False"
    tags:
        - scp_components_export

  - name: Export Server Configuration Profile for iDRAC to local path
    dellemc_idrac_server_config_profile:
      idrac_ip:        "{{ idracip }}"
      idrac_user:      "{{ username }}"
      idrac_pwd:       "{{ password }}"
      idrac_port:      "443"
      share_name:      "/tmp/"
      scp_components:  "IDRAC"
      job_wait:        "False"
      export_format:   "JSON"
    tags:
      - scp_components_idrac_export_json_format
  
  - name: Export Server Configuration Profile to a network share
    dellemc_idrac_server_config_profile:
      idrac_ip: "{{ idracip }}"
      idrac_user: "{{ username }}"
      idrac_pwd: "{{ password }}"
      share_name: "192.168.0.2:/share"
      share_user: "share_user_name"
      share_pwd: "share_user_pwd"
      job_wait: False
    tags:
      - scp_components_idrac_export_network_share

  - name: Import Server Configuration Profile from a local path
    dellemc_idrac_server_config_profile:
      idrac_ip:        "{{ idracip }}"
      idrac_user:      "{{ username }}"
      idrac_pwd:       "{{ password }}"
      idrac_port:      "443"
      share_name:      "/tmp/"
      command:           "import"
      scp_file:        "testscp.json"
      scp_components:  "IDRAC"
      shutdown_type:   "Graceful"
      job_wait:        "True"
    tags:
      - scp_components_idrac_import_local_path

  - name: Import Server Configuration Profile from a network share
    dellemc_idrac_server_config_profile:
      idrac_ip: "{{ idracip }}"
      idrac_user: "{{ username }}"
      idrac_pwd: "{{ password }}"
      command: "import"
      share_name: "192.168.0.2:/share"
      share_user: "share_user_name"
      share_pwd: "share_user_pwd"
      scp_file:   "scp_filename.xml"
      scp_components: "ALL"
      job_wait: True
    tags:
      - scp_components_idrac_import_network_share
        

