/* Search pre-loader */
.searchPreload {
    padding: 0 .5em;
}

.searchPreload ul {
    padding: 0;
}

.searchPreload li {
    list-style: none;
}

.fakeResult{
    margin: 35px 0;
    overflow: hidden;
}

.fakeTitle {
    width: 20%;
    height: 1.1em;
    margin: 5px 0 10px 0;
    background-color: #cccccc;
    overflow: hidden;
}

.fakeText {
    height: 1em;
    margin: 5px 0;
    background-color: #eaecec;
    position: relative;
    overflow: hidden;
}

.fakeText:before{
    display: block;
    position: absolute;
    content: "";
    width: 40px;
    height: 1em;
    background-color: #f3f3f3;
    animation: loading 3s linear infinite;
}

@keyframes loading {
    from {left: 0}
    to {left: 100%;}
}
