---
- name: Get system information.
  ansible.builtin.uri:
    url: "https://{{ hostname }}{{ api_system }}"
    validate_certs: "{{ validate_certs }}"
    ca_path: "{{ ca_path | default(omit) }}"
    method: "{{ uri_method }}"
    user: "{{ username }}"
    password: "{{ password }}"
    headers: "{{ uri_headers }}"
    body_format: "{{ uri_body_format }}"
    status_code: "{{ uri_status_code }}"
    return_content: "{{ uri_return_content }}"
  register: system_result
  delegate_to: "{{ lookup('ansible.builtin.env', 'RUNON', default='localhost') }}"
  no_log: true

- name: Get operating system information.
  ansible.builtin.uri:
    url: "https://{{ hostname }}/redfish/v1/Managers/System.Embedded.1/Attributes?$select=ServerOS.*" # verification firmware version 5.00.00
    validate_certs: "{{ validate_certs }}"
    ca_path: "{{ ca_path | default(omit) }}"
    method: "{{ uri_method }}"
    user: "{{ username }}"
    password: "{{ password }}"
    headers: "{{ uri_headers }}"
    body_format: "{{ uri_body_format }}"
    status_code: "{{ uri_status_code }}"
    return_content: "{{ uri_return_content }}"
  register: os_result
  delegate_to: "{{ lookup('ansible.builtin.env', 'RUNON', default='localhost') }}"
  no_log: true

- name: Set system facts
  ansible.builtin.set_fact:
    system:
      "{{ system_result.json | json_query(jquery) | combine(os_result.json.Attributes) |
      ansible.utils.remove_keys(target=['@odata.context', '@odata.id', '@odata.type']) }}"
  vars:
    jquery: "Oem.Dell.DellSystem"
