---
- hosts: idrac
  connection: local
  name: Server Configuration Profile
  gather_facts: False

  collections:
    - dellemc.openmanage

  tasks:

  - name: Export SCP with IDRAC components in JSON format to a local path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "/scp_folder"
      scp_components: IDRAC
      scp_file: example_file
      export_format: JSON
      export_use: Clone
      job_wait: True
    tags: export-scp-local

  - name: Import SCP with IDRAC components in JSON format from a local path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "/scp_folder"
      command: import
      scp_components: "IDRAC"
      scp_file: example_file.json
      shutdown_type: Graceful
      end_host_power_state: "On"
      job_wait: False
    tags: import-scp-local

  - name: Export SCP with BIOS components in XML format to a NFS share path with auto-generated file name
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "192.168.0.2:/share"
      scp_components: "BIOS"
      export_format: XML
      export_use: Default
      job_wait: True
    tags: export-scp-nfs

  - name: Import SCP with BIOS components in XML format from a NFS share path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "192.168.0.2:/share"
      command: import
      scp_components: "BIOS"
      scp_file: 192.168.0.1_20210618_162856.xml
      shutdown_type: NoReboot
      end_host_power_state: "Off"
      job_wait: False
    tags: import-scp-nfs

  - name: Export SCP with RAID components in XML format to a CIFS share path with share user domain name
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "\\\\192.168.0.2\\share"
      share_user: share_username@domain
      share_password: share_password
      share_mnt: /mnt/cifs
      scp_file: example_file.xml
      scp_components: "RAID"
      export_format: XML
      export_use: Default
      job_wait: True
    tags: export-scp-cifs

  - name: Import SCP with RAID components in XML format from a CIFS share path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "\\\\192.168.0.2\\share"
      share_user: share_username
      share_password: share_password
      share_mnt: /mnt/cifs
      command: import
      scp_components: "RAID"
      scp_file: example_file.xml
      shutdown_type: Forced
      end_host_power_state: "On"
      job_wait: True
    tags: import-scp-cifs

  - name: Export SCP with ALL components in JSON format to a HTTP share path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "http://192.168.0.3/share"
      share_user: share_username
      share_password: share_password
      scp_file: example_file.json
      scp_components: ALL
      export_format: JSON
      job_wait: False
    tags: export-scp-http

  - name: Import SCP with ALL components in JSON format from a HTTP share path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      command: import
      share_name: "http://192.168.0.3/share"
      share_user: share_username
      share_password: share_password
      scp_file: example_file.json
      shutdown_type: Graceful
      end_host_power_state: "On"
      job_wait: True
    tags: import-scp-http

  - name: Export SCP with ALL components in XML format to a HTTPS share path without SCP file name
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      share_name: "https://192.168.0.4/share"
      share_user: share_username
      share_password: share_password
      scp_components: ALL
      export_format: XML
      export_use: Replace
      job_wait: True
    tags: export-scp-https

  - name: Import SCP with ALL components in XML format from a HTTPS share path
    dellemc.openmanage.idrac_server_config_profile:
      idrac_ip: "{{ idrac_ip }}"
      idrac_user: "{{ idrac_user }}"
      idrac_password: "{{ idrac_password }}"
      command: import
      share_name: "https://192.168.0.4/share"
      share_user: share_username
      share_password: share_password
      scp_file: 192.168.0.1_20160618_164647.xml
      shutdown_type: Graceful
      end_host_power_state: "On"
      job_wait: False
    tags: import-scp-https
