---
- name: Get Installed Firmware Inventory
  hosts: idrac
  gather_facts: false

  tasks:
    - name: Get Installed Firmware Inventory.
      dellemc.openmanage.idrac_firmware_info:
        idrac_ip: "{{ idrac_ip }}"
        idrac_user: "{{ idrac_user }}"
        idrac_password: "{{ idrac_password }}"
        ca_path: "/path/to/ca_cert.pem"
      delegate_to: localhost
