---
- name: Dell OpenManage ansible port breakout configuration.
  hosts: ome
  gather_facts: false
  vars:
    retries_count: 50
    polling_interval: 5 # in seconds

  tasks:
    - name: Port breakout configuration.
      dellemc.openmanage.ome_network_port_breakout:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        target_port: "2HB7NX2:phy-port1/1/11"
        breakout_type: "1X40GE"
      register: result
      delegate_to: localhost

    - name: Get job details using job id from port breakout configuration task.
      dellemc.openmanage.ome_job_info:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        job_id: "{{ result.breakout_status.Id }}"
      register: job_result
      failed_when: job_result.job_info.LastRunStatus.Name == 'Failed'
      changed_when: job_result.job_info.LastRunStatus.Name == 'Completed'
      until: job_result.job_info.LastRunStatus.Name == 'Completed' or job_result.job_info.LastRunStatus.Name == 'Failed'
      retries: "{{ retries_count }}"
      delay: "{{ polling_interval }}"
      delegate_to: localhost
