---
- hosts: ome
  connection: local
  name: Dell OpenManage ansible port breakout configuration.
  gather_facts: False
  vars:
    retries_count: 50
    polling_interval: 5 # in seconds

  collections:
    - dellemc.openmanage

  tasks:

    - name: Port breakout configuration.
      ome_network_port_breakout:
        hostname: "{{hostname}}"
        username: "{{username}}"
        password: "{{password}}"
        target_port: "2HB7NX2:phy-port1/1/11"
        breakout_type: "1X40GE"
      register: result

    - name: "Get job details using job id from port breakout configuration task."
      ome_job_info:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        job_id: "{{ result.breakout_status.Id }}"
      register: job_result
      failed_when: job_result.job_info.LastRunStatus.Name == 'Failed'
      changed_when: job_result.job_info.LastRunStatus.Name == 'Completed'
      until: job_result.job_info.LastRunStatus.Name == 'Completed' or job_result.job_info.LastRunStatus.Name == 'Failed'
      retries: "{{ retries_count }}"
      delay: "{{ polling_interval }}"
