---
- name: Converge
  hosts: all
  vars:
    _target: ['NIC', 'IDRAC']
    share_input: &share_input
      share_name: "{{ lookup('env', 'nfs_url') }}"
      scp_file: "{{ lookup('env', 'nfs_filename') }}"
  gather_facts: false
  tasks:
    - name: "Importing SCP from NFS with multiple components"
      ansible.builtin.import_role:
        name: idrac_import_server_config_profile
      vars:
        hostname: "{{ lookup('env', 'IDRAC_IP') }}"
        username: "{{ lookup('env', 'IDRAC_USER') }}"
        password: "{{ lookup('env', 'IDRAC_PASSWORD') }}"
        validate_certs: false
        target: "{{ _target }}"
        share_parameters:
          <<: *share_input
        shutdown_type: 'Forced'
        end_host_power_state: 'On'
      when: not ansible_check_mode

    - name: Verifying Import SCP from NFS with multiple components in normal mode
      ansible.builtin.assert:
        that:
          - idrac_import_server_config_profile_out.msg ==  "Successfully imported the Server Configuration Profile."
          - idrac_import_server_config_profile_out.scp_status.JobState == "Completed"
          - idrac_import_server_config_profile_out.scp_status.Message == "Successfully imported and applied Server Configuration Profile."
      when: not ansible_check_mode
      tags: molecule-idempotence-notest

    - name: Verifying Import SCP from NFS with multiple components in idempotence mode
      ansible.builtin.assert:
        that:
          - idrac_import_server_config_profile_out.msg ==  "Successfully imported the Server Configuration Profile."
          - idrac_import_server_config_profile_out.scp_status.JobState == "Completed"
          - idrac_import_server_config_profile_out.scp_status.Message == "No changes were applied since the
           current component configuration matched the requested configuration."
      when: not ansible_check_mode and not idrac_import_server_config_profile_out.changed
