---
- name: "OME - Create Template details tracking"
  hosts: ome
  gather_facts: false
  vars:
    retries_count: 50
    polling_interval: 5 # in seconds
  tasks:
    - name: "Create template based on device id."
      dellemc.openmanage.ome_template:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        device_id: 12475
        attributes:
          Name: "New Template"
          Description: "New Template description"
      register: result
      failed_when: "'return_id' not in result"
      delegate_to: localhost

    - name: "Get the job id using return id from template."
      dellemc.openmanage.ome_template_info:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        template_id: "{{ result.return_id }}"
      register: facts_result
      delegate_to: localhost

    - name: "Get job details using job id from template task."
      dellemc.openmanage.ome_job_info:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        job_id: "{{ facts_result.template_info[hostname].TaskId }}"
      register: job_result
      failed_when: job_result.job_info.LastRunStatus.Name == 'Failed'
      changed_when: job_result.job_info.LastRunStatus.Name == 'Completed'
      until: job_result.job_info.LastRunStatus.Name == 'Completed' or job_result.job_info.LastRunStatus.Name == 'Failed'
      retries: "{{ retries_count }}"
      delay: "{{ polling_interval }}"
      delegate_to: localhost
