---
- name: Converge idrac_gather_facts for Fan
  hosts: all
  gather_facts: false
  vars:
    hostname: "{{ lookup('env', 'IDRAC_IP') }}"
    username: "{{ lookup('env', 'IDRAC_USER') }}"
    password: "{{ lookup('env', 'IDRAC_PASSWORD') }}"
    validate_certs: false
    target:
      - Fan
    idrac_gather_facts_uri_method: "GET"
    idrac_gather_facts_uri_headers:
      Accept: "application/json"
      Content-Type: "application/json"
      OData-Version: "4.0"
    idrac_gather_facts_uri_body_format: "json"
    idrac_gather_facts_uri_status_code:
      - 200
      - 400
      - 401
      - 404
      - -1
    idrac_gather_facts_uri_return_content: true
    diff_data: {}
    exclude_keys: ["SpeedPercent"]

  tasks:
    - name: Gather Facts for the Fan component
      ansible.builtin.include_role:
        name: "idrac_gather_facts"

    - name: Call assertion
      ansible.builtin.include_tasks: ../../tests/asserts/fan_assert.yml
      with_items: "{{ fan }}"
      loop_control:
        loop_var: fan_data
      when: fan | length > 0
