---
- name: Converge idrac_gather_facts for Voltage Sensors
  hosts: all
  gather_facts: false
  vars:
    hostname: "{{ lookup('env', 'IDRAC_IP') }}"
    username: "{{ lookup('env', 'IDRAC_USER') }}"
    password: "{{ lookup('env', 'IDRAC_PASSWORD') }}"
    validate_certs: false
    target:
      - Sensors_Voltage
    idrac_gather_facts_uri_method: "GET"
    idrac_gather_facts_uri_headers:
      Accept: "application/json"
      Content-Type: "application/json"
      OData-Version: "4.0"
    idrac_gather_facts_uri_body_format: "json"
    idrac_gather_facts_uri_status_code:
      - 200
      - 400
      - 401
      - 404
      - -1
    idrac_gather_facts_uri_return_content: true
    diff_data: {}
    exclude_keys: []

  tasks:
    - name: Gather Facts for the voltage sensor component
      ansible.builtin.include_role:
        name: "idrac_gather_facts"

    - name: Assert power supply dict for length
      ansible.builtin.assert:
        that:
          - "{{ voltages | length > 0 }}"

    - name: Get Sensor Voltage information.
      ansible.builtin.uri:
        url: "https://{{ hostname }}{{ api_chassis }}/Power#/Voltages"
        validate_certs: "{{ validate_certs }}"
        ca_path: "{{ ca_path | default(omit) }}"
        method: "{{ idrac_gather_facts_uri_method }}"
        user: "{{ username }}"
        password: "{{ password }}"
        headers: "{{ idrac_gather_facts_uri_headers }}"
        body_format: "{{ idrac_gather_facts_uri_body_format }}"
        status_code: "{{ idrac_gather_facts_uri_status_code }}"
        return_content: "{{ idrac_gather_facts_uri_return_content }}"
      register: voltage_result
      no_log: true

    - name: Set Sensor Voltage facts
      ansible.builtin.set_fact:
        "api_response":
          "{{ voltage_result.json.Voltages | ansible.utils.remove_keys(target=['@odata.context',
          '@odata.id', '@odata.type']) }}"

    - name: Call assertion
      ansible.builtin.include_tasks: ../../tests/asserts/sensorsvoltage_assert.yml
      with_items: "{{ voltages }}"
      loop_control:
        loop_var: sensorsvoltage_data
        index_var: index
      when: voltages | length > 0
