---
argument_specs:
  main:
    version_added: "7.4.0"
    short_description: Import iDRAC Server Configuration Profile (SCP)
    description:
      - The role performs Import operation of Server Configuration Profile.
    options:
      hostname:
        required: true
        type: str
        description: iDRAC IP Address.
      username:
        type: str
        description: iDRAC username.
      password:
        type: str
        description: iDRAC user password.
      https_port:
        type: int
        description: iDRAC port.
        default: 443
      validate_certs:
        description:
          - If C(false), the SSL certificates will not be validated.
          - Configure C(false) only on personally controlled sites where self-signed certificates are used.
        type: bool
        default: true
      ca_path:
        description:
          - The Privacy Enhanced Mail (PEM) file that contains a CA certificate to be used for the validation.
        type: path
      https_timeout:
        description: The socket level timeout in seconds.
        type: int
        default: 30
      share_parameters:
        description: Network share parameters.
        type: dict
        options:
          share_name:
            description:
              - Network share or local path.
              - CIFS, NFS, HTTP, and HTTPS network share types are supported.
              - I(share_name) is mutually exclusive with I(import_buffer).
            type: str
          scp_file:
            description:
              - Name of the server configuration profile (SCP) file.
              - This option is mandatory if I(command) is C(import).
              - The default format <idrac_ip>_YYMMDD_HHMMSS_scp is used if this option is not specified for C(import).
              - I(export_format) is used if the valid extension file is not provided for C(export).
            type: str
          share_user:
            description: Network share user in the format 'user@domain' or 'domain\\user' if user is
              part of a domain else 'user'. This option is mandatory for CIFS Network Share.
            type: str
          share_password:
            description: Network share user password. This option is mandatory for CIFS Network Share.
            type: str
          proxy_support:
            description:
              - Proxy to be enabled or disabled.
              - I(proxy_support) is considered only when I(share_name) is of type HTTP or HTTPS and is supported only on iDRAC9.
            type: bool
            default: false
          proxy_type:
            description:
              - C(http) to select HTTP type proxy.
              - C(socks4) to select SOCKS4 type proxy.
              - I(proxy_type) is considered only when I(share_name) is of type HTTP or HTTPS and is supported only on iDRAC9.
            type: str
            choices: [http, socks4]
            default: http
          proxy_server:
            description:
              - I(proxy_server) is required when I(share_name) is of type HTTPS or HTTP and I(proxy_support) is C(true).
              - I(proxy_server) is considered only when I(share_name) is of type HTTP or HTTPS and is supported only on iDRAC9.
            type: str
          proxy_port:
            description:
              - Proxy port to authenticate.
              - I(proxy_port) is required when I(share_name) is of type HTTPS or HTTP and I(proxy_support) is C(true).
              - I(proxy_port) is considered only when I(share_name) is of type HTTP or HTTPS and is supported only on iDRAC9.
            type: int
            default: 80
          proxy_username:
            description:
              - Proxy username to authenticate.
              - I(proxy_username) is considered only when I(share_name) is of type HTTP or HTTPS and is supported only on iDRAC9.
            type: str
          proxy_password:
            description:
              - Proxy password to authenticate.
              - I(proxy_password) is considered only when I(share_name) is of type HTTP or HTTPS and is supported only on iDRAC9.
            type: str
          ignore_certificate_warning:
            description:
              - If C(ignore), it ignores the certificate warnings.
              - If C(showerror), it shows the certificate warnings.
              - I(ignore_certificate_warning) is considered only when I(share_name) is of type HTTPS and is
                supported only on iDRAC9.
            type: str
            choices: [ignore, showerror]
            default: ignore
      target:
        description:
          - If C(ALL), this module exports or imports all components configurations from SCP file.
          - If C(IDRAC), this module exports or imports iDRAC configuration from SCP file.
          - If C(BIOS), this module exports or imports BIOS configuration from SCP file.
          - If C(NIC), this module exports or imports NIC configuration from SCP file.
          - If C(RAID), this module exports or imports RAID configuration from SCP file.
        choices: ['ALL', 'IDRAC', 'BIOS', 'NIC', 'RAID']
        default: ['ALL']
        type: list
      import_buffer:
        description:
          - Used to import the buffer input of xml or json into the iDRAC.
          - This option is applicable when I(command) is C(import) and C(preview).
          - I(import_buffer) is mutually exclusive with I(share_name).
        type: str
      shutdown_type:
        description:
          - This option is applicable for C(import) command.
          - If C(Graceful), the job gracefully shuts down the operating system and turns off the server.
          - If C(Forced), it forcefully shuts down the server.
          - If C(NoReboot), the job that applies the SCP will pause until you manually reboot the server.
        type: str
        choices: ['Graceful', 'Forced', 'NoReboot']
        default: 'Graceful'
      end_host_power_state:
        description:
          - This option is applicable for C(import) command.
          - If C(On), End host power state is on.
          - If C(Off), End host power state is off.
        type: str
        choices: ['On', 'Off']
        default: 'On'
