---
- name: Dell OME Application network webserver port change and track webserver till the service restarts.
  hosts: ome
  gather_facts: false
  vars:
    # 5 minutes wait max
    retries_count: 30
    polling_interval: 10
    webserver_uri: "/api/ApplicationService/Network/WebServerConfiguration"

  tasks:
    # Update web server configuration
    - name: Update webserver port and timeout of OME
      dellemc.openmanage.ome_application_network_webserver:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        port: "{{ ome_webserver_port }}"
        webserver_port: "{{ new_port }}"
        webserver_timeout: 21
      register: result
      delegate_to: localhost

    # To end play when no port change or failure
    - name: End the play when no port change # noqa: no-handler
      ansible.builtin.meta: end_play
      when:
        - not result.changed
        - "'webserver_configuration' not in result"
      delegate_to: localhost

    # Loop till OME webserver is active by using the new port and webserver config GET call
    - name: Pause play until webserver URL is reachable from this host with new port
      ansible.builtin.uri:
        url: "https://{{ hostname }}:{{ result.webserver_configuration.PortNumber }}{{ webserver_uri }}"
        user: "{{ username }}"
        password: "{{ password }}"
        method: "GET"
        use_proxy: true
        return_content: true
        validate_certs: false
        force_basic_auth: true
        headers:
          Content-Type: "application/json"
          Accept: "application/json"
      register: webport_result
      until: "'PortNumber' in webport_result or webport_result.status == 200"
      retries: "{{ retries_count }}"
      delay: "{{ polling_interval }}"
      delegate_to: localhost

    # Output the webserver_configuration values to be used further
    - name: "Output the webserver config"
      vars:
        webserver_configuration: "{{ webport_result.json }}"
      ansible.builtin.debug:
        var: webserver_configuration
