---
- hosts: ome
  connection: local
  name: "Dell OME Application network webserver port change and track web
  server till the service restarts."
  gather_facts: False
  vars:
    # 5 minutes wait max
    retries_count: 30
    polling_interval: 10
    webserver_uri: "/api/ApplicationService/Network/WebServerConfiguration"

  collections:
    - dellemc.openmanage

  tasks:
  # Update web server configuration
  - name: Update webserver port and timeout of OME
    ome_application_network_webserver:
      hostname: "{{hostname}}"
      username: "{{username}}"
      password: "{{password}}"
      ca_path: "/path/to/ca_cert.pem"
      port: "{{ ome_webserver_port }}"
      webserver_port: "{{ new_port }}"
      webserver_timeout: 21
    register: result

  # To end play when no port change or failure
  - name: "End the play when no port change"
    meta: end_play
    when:
      - result.changed == false
      - "'webserver_configuration' not in result"

  # Loop till OME webserver is active by using the new port and webserver config GET call
  - name: "Pause play until webserver URL is reachable from this host with new port"
    uri:
      url: "https://{{ hostname }}:{{ result.webserver_configuration.PortNumber
      }}{{ webserver_uri }}"
      user: "{{ username }}"
      password: "{{ password }}"
      method: "GET"
      use_proxy: yes
      return_content: yes
      validate_certs: no
      force_basic_auth: yes
      headers:
        Content-Type: "application/json"
        Accept: "application/json"
    register: webport_result
    until: "'PortNumber' in webport_result or webport_result.status == 200"
    retries: "{{ retries_count }}"
    delay: "{{ polling_interval }}"

  # Output the webserver_configuration values to be used further
  - name: "Output the webserver config"
    vars:
      webserver_configuration: "{{ webport_result.json }}"
    debug:
      var: webserver_configuration