---
- hosts: ome
  connection: local
  name: Dell OpenManage Ansible Application network proxy setting.
  gather_facts: False

  collections:
    - dellemc.openmanage

  tasks:
   - name: Update proxy configuration and enable authentication.
     ome_application_network_proxy:
        hostname: "{{hostname}}"
        username: "{{username}}"
        password: "{{password}}"
        ca_path: "/path/to/ca_cert.pem"
        enable_proxy: true
        ip_address: "192.168.0.2"
        proxy_port: 444
        enable_authentication: true
        proxy_username: "root"
        proxy_password: "proxy_password"
     tags: setting1
        
   - name: Reset proxy authentication.
     ome_application_network_proxy:
        hostname: "{{hostname}}"
        username: "{{username}}"
        password: "{{password}}"
        ca_path: "/path/to/ca_cert.pem"
        enable_proxy: true
        ip_address: "192.168.0.2"
        proxy_port: 444
        enable_authentication: false
     tags: setting2

   - name: Reset proxy configuration.
     ome_application_network_proxy:
        hostname: "{{hostname}}"
        username: "{{username}}"
        password: "{{password}}"
        ca_path: "/path/to/ca_cert.pem"
        enable_proxy: false
     tags: setting3
