---
- name: Dell OpenManage Ansible Application network proxy setting.
  hosts: ome
  gather_facts: false

  tasks:
    - name: Update proxy configuration and enable authentication.
      dellemc.openmanage.ome_application_network_proxy:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        enable_proxy: true
        ip_address: "192.168.0.2"
        proxy_port: 444
        enable_authentication: true
        proxy_username: "root"
        proxy_password: "proxy_password"
      tags: setting1
      delegate_to: localhost

    - name: Reset proxy authentication.
      dellemc.openmanage.ome_application_network_proxy:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        enable_proxy: true
        ip_address: "192.168.0.2"
        proxy_port: 444
        enable_authentication: false
      tags: setting2
      delegate_to: localhost

    - name: Reset proxy configuration.
      dellemc.openmanage.ome_application_network_proxy:
        hostname: "{{ hostname }}"
        username: "{{ username }}"
        password: "{{ password }}"
        ca_path: "/path/to/ca_cert.pem"
        enable_proxy: false
      tags: setting3
      delegate_to: localhost
