---
- hosts: ome
  connection: local
  name: Configure login security settings
  gather_facts: False

  collections:
    - dellemc.openmanage

  tasks:
  - name: Configure restricted allowed IP range
    ome_application_security_settings:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      restrict_allowed_ip_range:
        enable_ip_range: true
        ip_range: 192.1.2.3/24

  - name: Configure login lockout policy
    ome_application_security_settings:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      login_lockout_policy:
        by_user_name: true
        by_ip_address: true
        lockout_fail_count: 3
        lockout_fail_window: 30
        lockout_penalty_time: 900

  - name: Configure restricted allowed IP range and login lockout policy with job wait time out of 60 seconds
    ome_application_security_settings:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      restrict_allowed_ip_range:
        enable_ip_range: true
        ip_range: 192.1.2.3/24
      login_lockout_policy:
        by_user_name: true
        by_ip_address: true
        lockout_fail_count: 3
        lockout_fail_window: 30
        lockout_penalty_time: 900
      job_wait_timeout: 60

  - name: Enable FIPS mode
    ome_application_security_settings:
      hostname: "{{ hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      ca_path: "/path/to/ca_cert.pem"
      fips_mode_enable: yes
